node_modules/
package-lock.json

*.env
.persistent-data/*
static
rates/tmp
dist

.idea
.vscode
.vscode/*
.DS_Store

.#*
.projectile
monolib.diff
monolib

# python related
*.py[cod]
*.log
*.pot
*.pyc
local_settings.py
__pycache__/
build/
coverage/
dist/
\.egg
venv/
